.fixed-tool {
    position: fixed;
    top: 150px;
    right: 0;
    z-index: 999;
    display: block;
}
.go-top-with-img {
    padding: 0;
    width: 40px;
    height: 40px;
    display: none;
    background: url(top_bg.png) no-repeat;
}
.go-top-with-img:hover, .qq-service:hover {
    background-position: left -40px;
}
.qq-service{
    width: 40px;
    height: 40px;
    display: block;
    background: url(qq_bg.png) no-repeat;
}